/notebooks/.env
/pistoia-llm.code-workspace
/notebooks/evaluation_results/*
/notebooks/.venv
/notebooks/*.json
/notebooks/*.xlsx
/biomix/.temp/*
/biomix/.env
/biomix/db/*.xlsx
/biomix/db/entities_queried_exact.xlsx
/biomix/db/entities_queried_inexact.xlsx
/biomix/db/gene_disease_queries.xlsx
/biomix/db/gene_disease_queries_exact.xlsx
/biomix/db/gene_disease_queries_inexact.xlsx

/utils/.env

/notebooks/.temp/*
/notebooks/05-agentic/.env/anthropic_pistoia.json
/notebooks/05-agentic/.env/neo4j_pistoia.json
/notebooks/05-agentic/.env/openai_pistoia.json
/notebooks/05-agentic/aillc/__pycache__/*.pyc
